<div class="main-container">
  <header class="header">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <span class="title">Angular Sandbox</span>
      </a>
    </div>
  </header>

  <nav class="subnav">
    <ul class="nav">
      <!-- <li class="nav-item">
        <a routerLink="/posts" routerLinkActive="active" class="nav-link"
          >Posts</a
        >
      </li> -->
      <li class="nav-item">
        <a
          routerLink="/rxjs-playground"
          routerLinkActive="active"
          class="nav-link"
          >RxJS Playground</a
        >
      </li>
    </ul>
  </nav>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
